.UsersCard {
  width: 80%;
  margin: 5% auto;
}

.UsersCardTitle {
  background-color: #01bdd5;
}

.addUser {
  text-align: center;
  margin: 20px;
}

.Pagination {
  display: block;
}

.InlineList {
  display: flex;
  list-style: none;
}